<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang }}">
	<head>
		<meta charset='utf-8'>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		{% seo %}
		<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	</head>
	
	<body>
		<div id="container">
			<div class="inner">

				<header>
					<h1>{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
					<h2>{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
				</header>
				<hr>
				<section id="main_content">
					{{ content }}
				</section>

				<footer>
					<p>{{ site.copyright | default: "copyright not found in _config.yml" }}</p>
				</footer>

			</div>
		</div>
	</body>

</html>
